In [167]:
import pandas as pd
import datetime as datetime
import numpy as np
from dateutil.relativedelta import relativedelta

In [140]:
adm_icu = pd.DataFrame.from_csv('ADMISSIONS_ICUSTAY_SEPSIS.csv')
adm_icu.head()

,gender,dob,dod,expire_flag,admittime,dischtime,deathtime,diagnosis,hospital_expire_flag,insurance,marital_status,ethnicity,first_careunit,last_careunit,intime,outtime
subject_id,,,,,,,,,,,,,,,,
21,M,2047-04-04 00:00:00,2135-02-08 00:00:00,1,2135-01-30 20:50:00,2135-02-08 02:08:00,2135-02-08 02:08:00,SEPSIS,1,Medicare,MARRIED,WHITE,MICU,MICU,2135-01-30 20:53:34,2135-02-08 05:38:46
94,M,2101-09-20 00:00:00,2178-08-17 00:00:00,1,2176-02-25 16:49:00,2176-02-29 17:45:00,NaN,SEPSIS,0,Medicare,MARRIED,ASIAN,CCU,CCU,2176-02-25 16:50:03,2176-02-26 19:11:57
157,M,2025-12-03 00:00:00,2106-08-25 00:00:00,1,2106-06-17 19:51:00,2106-06-24 17:50:00,NaN,SEPSIS,0,Medicare,SINGLE,WHITE,MICU,MICU,2106-06-17 19:51:46,2106-06-21 22:43:29
166,F,1805-01-23 00:00:00,2105-01-24 00:00:00,1,2105-01-23 22:57:00,2105-01-24 03:48:00,2105-01-24 03:48:00,SEPSIS,1,Medicare,WIDOWED,WHITE,MICU,CCU,2105-01-23 23:00:10,2105-01-24 05:39:49
188,M,2105-05-18 00:00:00,2162-01-17 00:00:00,1,2157-03-07 11:08:00,2157-03-10 13:50:00,NaN,SEPSIS,0,Private,MARRIED,WHITE,SICU,SICU,2157-03-07 11:08:51,2157-03-08 15:42:30

In [141]:
dates_and_times = ['dob', 'dod', 'admittime', 'dischtime', 'deathtime', 'intime', 'outtime']
for thing in dates_and_times:
    adm_icu[thing] = pd.to_datetime(adm_icu[thing])
    
adm_icu.head()

,gender,dob,dod,expire_flag,admittime,dischtime,deathtime,diagnosis,hospital_expire_flag,insurance,marital_status,ethnicity,first_careunit,last_careunit,intime,outtime
subject_id,,,,,,,,,,,,,,,,
21,M,2047-04-04,2135-02-08,1,2135-01-30 20:50:00,2135-02-08 02:08:00,2135-02-08 02:08:00,SEPSIS,1,Medicare,MARRIED,WHITE,MICU,MICU,2135-01-30 20:53:34,2135-02-08 05:38:46
94,M,2101-09-20,2178-08-17,1,2176-02-25 16:49:00,2176-02-29 17:45:00,NaT,SEPSIS,0,Medicare,MARRIED,ASIAN,CCU,CCU,2176-02-25 16:50:03,2176-02-26 19:11:57
157,M,2025-12-03,2106-08-25,1,2106-06-17 19:51:00,2106-06-24 17:50:00,NaT,SEPSIS,0,Medicare,SINGLE,WHITE,MICU,MICU,2106-06-17 19:51:46,2106-06-21 22:43:29
166,F,1805-01-23 00:00:00,2105-01-24,1,2105-01-23 22:57:00,2105-01-24 03:48:00,2105-01-24 03:48:00,SEPSIS,1,Medicare,WIDOWED,WHITE,MICU,CCU,2105-01-23 23:00:10,2105-01-24 05:39:49
188,M,2105-05-18,2162-01-17,1,2157-03-07 11:08:00,2157-03-10 13:50:00,NaT,SEPSIS,0,Private,MARRIED,WHITE,SICU,SICU,2157-03-07 11:08:51,2157-03-08 15:42:30

In [ ]:
''' this code was written to re-calculate the ages of patients after the 
    data was already calculated by different means. This code addresses NaT 
    values generated below that were introduced to replace age < 0
    the code uses relativedelta.years to get the age difference rounded years'''
for index, row in adm_icu.iterrows():
    if type(row['dod']) != pd.tslib.NaTType:
        row['age'] = relativedelta(row['dod'], row['dob']).years

#this is a way to check to see if dates are NaT/nan
#type(row['dod']) == pd.tslib.NaTType

#calculate the duration of hospital stay and duration of icu stays. 
adm_icu['admission_stay'] = adm_icu['dischtime'] - adm_icu['admittime']
adm_icu['icu_stay'] = adm_icu['outtime'] - adm_icu['intime']
adm_icu.head()

In [142]:
adm_icu.dod.head()

subject_id
21    2135-02-08
94    2178-08-17
157   2106-08-25
166   2105-01-24
188   2162-01-17
Name: dod, dtype: datetime64[ns]

In [143]:
adm_icu.iloc[3].dod.date()

datetime.date(2105, 1, 24)

In [144]:
adm_icu['dob'] = adm_icu['dob'].apply(lambda x: x.date())

In [147]:
adm_icu['dod'] = adm_icu['dod'].apply(lambda x: x.date())

In [148]:
adm_icu['age'] = adm_icu['dod'] - adm_icu['dob']

In [219]:
adm_icu[adm_icu['age'] < datetime.timedelta(days = 0)]

Empty DataFrame
Columns: [gender, dob, dod, expire_flag, admittime, dischtime, deathtime, diagnosis, hospital_expire_flag, insurance, marital_status, ethnicity, first_careunit, last_careunit, intime, outtime, age, icu_stay, hosp_stay]
Index: []

In [220]:
adm_icu[['dob', 'dod', 'age']].head()

                   dob         dod        age
subject_id
21          2047-04-04  2135-02-08 32086 days
94          2101-09-20  2178-08-17 28090 days
157         2025-12-03  2106-08-25 29484 days
166         1805-01-23  2105-01-24        NaT
188         2105-05-18  2162-01-17 20698 days

In [149]:
adm_icu.iloc[3]['age'].days/365
(adm_icu.iloc[3]['dod'] - adm_icu.iloc[3]['dob']).days/365

300

In [150]:
adm_icu['icu_stay'] = adm_icu['outtime'] - adm_icu['intime']
adm_icu.head()

,gender,dob,dod,expire_flag,admittime,dischtime,deathtime,diagnosis,hospital_expire_flag,insurance,marital_status,ethnicity,first_careunit,last_careunit,intime,outtime,age,icu_stay
subject_id,,,,,,,,,,,,,,,,,,
21,M,2047-04-04,2135-02-08,1,2135-01-30 20:50:00,2135-02-08 02:08:00,2135-02-08 02:08:00,SEPSIS,1,Medicare,MARRIED,WHITE,MICU,MICU,2135-01-30 20:53:34,2135-02-08 05:38:46,32086 days 00:00:00,8 days 08:45:12
94,M,2101-09-20,2178-08-17,1,2176-02-25 16:49:00,2176-02-29 17:45:00,NaT,SEPSIS,0,Medicare,MARRIED,ASIAN,CCU,CCU,2176-02-25 16:50:03,2176-02-26 19:11:57,28090 days 00:00:00,1 days 02:21:54
157,M,2025-12-03,2106-08-25,1,2106-06-17 19:51:00,2106-06-24 17:50:00,NaT,SEPSIS,0,Medicare,SINGLE,WHITE,MICU,MICU,2106-06-17 19:51:46,2106-06-21 22:43:29,29484 days 00:00:00,4 days 02:51:43
166,F,1805-01-23,2105-01-24,1,2105-01-23 22:57:00,2105-01-24 03:48:00,2105-01-24 03:48:00,SEPSIS,1,Medicare,WIDOWED,WHITE,MICU,CCU,2105-01-23 23:00:10,2105-01-24 05:39:49,-103930 days +00:25:26.290448,0 days 06:39:39
188,M,2105-05-18,2162-01-17,1,2157-03-07 11:08:00,2157-03-10 13:50:00,NaT,SEPSIS,0,Private,MARRIED,WHITE,SICU,SICU,2157-03-07 11:08:51,2157-03-08 15:42:30,20698 days 00:00:00,1 days 04:33:39

In [151]:
adm_icu['hosp_stay'] = adm_icu['dischtime'] - adm_icu['admittime']
adm_icu.head()

,gender,dob,dod,expire_flag,admittime,dischtime,deathtime,diagnosis,hospital_expire_flag,insurance,marital_status,ethnicity,first_careunit,last_careunit,intime,outtime,age,icu_stay,hosp_stay
subject_id,,,,,,,,,,,,,,,,,,,
21,M,2047-04-04,2135-02-08,1,2135-01-30 20:50:00,2135-02-08 02:08:00,2135-02-08 02:08:00,SEPSIS,1,Medicare,MARRIED,WHITE,MICU,MICU,2135-01-30 20:53:34,2135-02-08 05:38:46,32086 days 00:00:00,8 days 08:45:12,8 days 05:18:00
94,M,2101-09-20,2178-08-17,1,2176-02-25 16:49:00,2176-02-29 17:45:00,NaT,SEPSIS,0,Medicare,MARRIED,ASIAN,CCU,CCU,2176-02-25 16:50:03,2176-02-26 19:11:57,28090 days 00:00:00,1 days 02:21:54,4 days 00:56:00
157,M,2025-12-03,2106-08-25,1,2106-06-17 19:51:00,2106-06-24 17:50:00,NaT,SEPSIS,0,Medicare,SINGLE,WHITE,MICU,MICU,2106-06-17 19:51:46,2106-06-21 22:43:29,29484 days 00:00:00,4 days 02:51:43,6 days 21:59:00
166,F,1805-01-23,2105-01-24,1,2105-01-23 22:57:00,2105-01-24 03:48:00,2105-01-24 03:48:00,SEPSIS,1,Medicare,WIDOWED,WHITE,MICU,CCU,2105-01-23 23:00:10,2105-01-24 05:39:49,-103930 days +00:25:26.290448,0 days 06:39:39,0 days 04:51:00
188,M,2105-05-18,2162-01-17,1,2157-03-07 11:08:00,2157-03-10 13:50:00,NaT,SEPSIS,0,Private,MARRIED,WHITE,SICU,SICU,2157-03-07 11:08:51,2157-03-08 15:42:30,20698 days 00:00:00,1 days 04:33:39,3 days 02:42:00

In [222]:
#adm_icu[[(adm_icu['hosp_stay'] < datetime.timedelta(days =0))]] 
adm_icu[adm_icu[['hosp_stay']]<datetime.timedelta(days =0)] = np.nan
#adm_icu[adm_icu['hosp_stay'] < 0]

In [223]:
adm_icu[adm_icu['hosp_stay'] < datetime.timedelta(days =0)]

Empty DataFrame
Columns: [gender, dob, dod, expire_flag, admittime, dischtime, deathtime, diagnosis, hospital_expire_flag, insurance, marital_status, ethnicity, first_careunit, last_careunit, intime, outtime, age, icu_stay, hosp_stay]
Index: []

In [224]:
adm_icu[adm_icu[['icu_stay']]<datetime.timedelta(days =0)] = np.nan
adm_icu[adm_icu['icu_stay'] < datetime.timedelta(days =0)]

Empty DataFrame
Columns: [gender, dob, dod, expire_flag, admittime, dischtime, deathtime, diagnosis, hospital_expire_flag, insurance, marital_status, ethnicity, first_careunit, last_careunit, intime, outtime, age, icu_stay, hosp_stay]
Index: []

In [155]:
adm_icu[adm_icu[['age']]<datetime.timedelta(days =0)]] = np.nan
adm_icu.head()

,gender,dob,dod,expire_flag,admittime,dischtime,deathtime,diagnosis,hospital_expire_flag,insurance,marital_status,ethnicity,first_careunit,last_careunit,intime,outtime,age,icu_stay,hosp_stay
subject_id,,,,,,,,,,,,,,,,,,,
21,M,2047-04-04,2135-02-08,1,2135-01-30 20:50:00,2135-02-08 02:08:00,2135-02-08 02:08:00,SEPSIS,1,Medicare,MARRIED,WHITE,MICU,MICU,2135-01-30 20:53:34,2135-02-08 05:38:46,32086 days,8 days 08:45:12,8 days 05:18:00
94,M,2101-09-20,2178-08-17,1,2176-02-25 16:49:00,2176-02-29 17:45:00,NaT,SEPSIS,0,Medicare,MARRIED,ASIAN,CCU,CCU,2176-02-25 16:50:03,2176-02-26 19:11:57,28090 days,1 days 02:21:54,4 days 00:56:00
157,M,2025-12-03,2106-08-25,1,2106-06-17 19:51:00,2106-06-24 17:50:00,NaT,SEPSIS,0,Medicare,SINGLE,WHITE,MICU,MICU,2106-06-17 19:51:46,2106-06-21 22:43:29,29484 days,4 days 02:51:43,6 days 21:59:00
166,F,1805-01-23,2105-01-24,1,2105-01-23 22:57:00,2105-01-24 03:48:00,2105-01-24 03:48:00,SEPSIS,1,Medicare,WIDOWED,WHITE,MICU,CCU,2105-01-23 23:00:10,2105-01-24 05:39:49,NaT,0 days 06:39:39,0 days 04:51:00
188,M,2105-05-18,2162-01-17,1,2157-03-07 11:08:00,2157-03-10 13:50:00,NaT,SEPSIS,0,Private,MARRIED,WHITE,SICU,SICU,2157-03-07 11:08:51,2157-03-08 15:42:30,20698 days,1 days 04:33:39,3 days 02:42:00

In [225]:
print adm_icu.iloc[2].age/365.25
#print adm_icu.iloc[2].age.days

80 days 17:20:49.281314

In [226]:
adm_icu[(adm_icu['age'] < datetime.timedelta(days = 0))]

Empty DataFrame
Columns: [gender, dob, dod, expire_flag, admittime, dischtime, deathtime, diagnosis, hospital_expire_flag, insurance, marital_status, ethnicity, first_careunit, last_careunit, intime, outtime, age, icu_stay, hosp_stay]
Index: []

,gender,dob,dod,expire_flag,admittime,dischtime,deathtime,diagnosis,hospital_expire_flag,insurance,marital_status,ethnicity,first_careunit,last_careunit,intime,outtime,dod2,age,admission_stay,icu_stay
subject_id,,,,,,,,,,,,,,,,,,,,
21,M,2047-04-04,2135-02-08,1,2135-01-30 20:50:00,2135-02-08 02:08:00,2135-02-08 02:08:00,SEPSIS,1,Medicare,MARRIED,WHITE,MICU,MICU,2135-01-30 20:53:34,2135-02-08 05:38:46,2135-02-08,32086 days 00:00:00,8 days 05:18:00,8 days 08:45:12
94,M,2101-09-20,2178-08-17,1,2176-02-25 16:49:00,2176-02-29 17:45:00,NaT,SEPSIS,0,Medicare,MARRIED,ASIAN,CCU,CCU,2176-02-25 16:50:03,2176-02-26 19:11:57,2178-08-17,28090 days 00:00:00,4 days 00:56:00,1 days 02:21:54
157,M,2025-12-03,2106-08-25,1,2106-06-17 19:51:00,2106-06-24 17:50:00,NaT,SEPSIS,0,Medicare,SINGLE,WHITE,MICU,MICU,2106-06-17 19:51:46,2106-06-21 22:43:29,2106-08-25,29484 days 00:00:00,6 days 21:59:00,4 days 02:51:43
166,F,1805-01-23 00:00:00,2105-01-24,1,2105-01-23 22:57:00,2105-01-24 03:48:00,2105-01-24 03:48:00,SEPSIS,1,Medicare,WIDOWED,WHITE,MICU,CCU,2105-01-23 23:00:10,2105-01-24 05:39:49,2105-01-24,-103930 days +00:25:26.290448,0 days 04:51:00,0 days 06:39:39
188,M,2105-05-18,2162-01-17,1,2157-03-07 11:08:00,2157-03-10 13:50:00,NaT,SEPSIS,0,Private,MARRIED,WHITE,SICU,SICU,2157-03-07 11:08:51,2157-03-08 15:42:30,2162-01-17,20698 days 00:00:00,3 days 02:42:00,1 days 04:33:39

In [15]:
adm_icu.index

Int64Index([   21,    94,   157,   166,   188,   353,   353,   357,   366,
              406,
            ...
            98435, 98554, 98623, 98698, 98744, 98931, 99299, 99439, 99756,
            99973],
           dtype='int64', name=u'subject_id', length=1290)

In [21]:
print(adm_icu.loc[166].dod - adm_icu.loc[166].dob)

109574 days, 0:00:00

In [56]:
age = adm_icu.iloc[0].age
to_timedelta(age)

datetime.timedelta(32077, 75000)

In [45]:
def to_timedelta(time_string): 
    age = time_string.split()
    days = age[0]
    hms = age[2].split(":")
    print hms
    delta = timedelta(days = int(days), hours = int(hms[0]), minutes = int(hms[1]), seconds = int(hms[2]))
    return delta

In [63]:
age = adm_icu.age.iloc[0]
print age
dummy = age.split()
print dummy
days = dummy[0]
print days
hms = dummy[2].split(":")
print hms

32077 days 20:50:00
['32077', 'days', '20:50:00']
32077
['20', '50', '00']

In [59]:
onedate = to_timedelta(adm_icu.age.iloc[0])
otherdate =  to_timedelta(adm_icu.age.iloc[1])
print onedate - otherdate
print onedate

4891 days, 4:01:00
32077 days, 20:50:00

In [66]:

adm_icu['dod2'] = pd.to_datetime(adm_icu['dod']) 
adm_icu.head()

,gender,age,dod,expire_flag,stay_duration,survival_time,diagnosis,hospital_expire_flag,insurance,marital_status,ethnicity,first_careunit,last_careunit,icu_stay,dod2
subject_id,,,,,,,,,,,,,,,
21,M,32077 days 20:50:00,2135-02-08 00:00:00,1,8 days 05:18:00,8 days 05:18:00,SEPSIS,1,Medicare,MARRIED,WHITE,MICU,MICU,8 days 08:45:12,2135-02-08
94,M,27186 days 16:49:00,2178-08-17 00:00:00,1,4 days 00:56:00,NaN,SEPSIS,0,Medicare,MARRIED,ASIAN,CCU,CCU,1 day 02:21:54,2178-08-17
157,M,29415 days 19:51:00,2106-08-25 00:00:00,1,6 days 21:59:00,NaN,SEPSIS,0,Medicare,SINGLE,WHITE,MICU,MICU,4 days 02:51:43,2106-08-25
166,F,109573 days 22:57:00,2105-01-24 00:00:00,1,04:51:00,04:51:00,SEPSIS,1,Medicare,WIDOWED,WHITE,MICU,CCU,06:39:39,2105-01-24
188,M,18921 days 11:08:00,2162-01-17 00:00:00,1,3 days 02:42:00,NaN,SEPSIS,0,Private,MARRIED,WHITE,SICU,SICU,1 day 04:33:39,2162-01-17

In [67]:
adm_icu['age2'] = pd.to_timedelta(adm_icu['age']) 
adm_icu.head()

OverflowError: Python int too large to convert to C long

['32077', 'days', '20:50:00']
['32077', '20', '50', '00']

In [30]:
'''example code for timedelta
from datetime import datetime, timedelta
# we specify the input and the format...
t = datetime.strptime("05:20:25","%H:%M:%S")
# ...and use datetime's hour, min and sec properties to build a timedelta
delta = timedelta(hours=t.hour, minutes=t.minute, seconds=t.second)
'''
#durations like icu stay etc are imported as strings. the code below 
#converts durations in strings to timedelta for use as variable
from datetime import timedelta
from datetime import datetime

delta = timedelta(days = int(duration[0]), hours = int(duration[1]), minutes = int(duration[2]), seconds = int(duration[3]))
print delta

32077 days, 20:50:00

TypeError: unsupported type for timedelta days component: str

#code for converting sql dates to date-time objects
from datetime import datetime
dob = adm_icu.iloc[0].dob.split()
ymd = dob[0].split('-')
print ymd
ymd.append(dob[1])
print ymd
dob = " ".join(ymd)

datetime_object = datetime.strptime(dob, '%Y %m %d %H:%M:%S')

In [42]:
dob

'2047 04 04 00:00:00'

In [ ]:
'Jun 1 2005  1:33PM'     %m %d  %T'

In [45]:
datetime_object = datetime.strptime(dob, '%Y %m %d %H:%M:%S')

In [47]:
datetime_object

datetime.datetime(2047, 4, 4, 0, 0)